* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #f2f2f2;
}
.svg-container {
  padding-top: 20px;
  text-align: center;
}
.svg-container svg {
  width: 100vw;
  height: 100vh;
}
#star1,
#star2,
#str3,
#star4,
#Vector_27,
#Vector_19 {
  animation: star-anim1 8s infinite ease;
}
#star6,
#star5 {
  animation: star-anim1 8s infinite ease;
  animation-delay: 0.3s;
}
#star7 {
  animation: seperate-star 3s infinite ease;
}

#star9,
#Vector_23,
#Vector_32 {
  animation: seperate-star 3s infinite ease;
  animation-delay: 0.5s;
}

#star10,
#Vector_24,
#Vector_33 {
  animation: seperate-star 3s infinite ease;
  animation-delay: 0.3s;
}
#start11,
#star21,
#star17,
#star19,
#Vector_22,
#Vector_31 {
  animation: star-anim2 8s infinite ease;
}
#start12,
#star22,
#star18,
#star20,
#Vector_21,
#Vector_30,
#Vector_15,
#Vector_2 {
  animation: star-anim2 8s infinite ease;
  animation-delay: 0.3s;
}
#start15,
#star25,
#star23,
#star21 {
  animation: star-anim2 5s infinite ease;
  animation-delay: 0.5s;
}
#star14,
#star16,
#star26 {
  animation: seperate-star 5s infinite ease;
  animation-delay: 0.3s;
}
#head {
  animation: head 6s infinite ease;
  transform-origin: center;
  transform-box: fill-box;
}
#arm {
  animation: arm 6s infinite ease;
  transform-origin: top;
  transform-box: fill-box;
}
.description {
  position: absolute;
  top: 70%;
  left: 40%;
  font-family: "Nanum Pen Script", cursive;
  font-size: 2rem;
}
@media (max-width: 400px) {
  .description {
    font-size: 1.2rem;
  }
}

@keyframes seperate-star {
  0%,
  30%,
  50%,
  70%,
  90% {
    opacity: 0.4;
  }
  20%,
  40%,
  80% {
    opacity: 1;
  }
}
@keyframes star-anim1 {
  0%,
  40%,
  60% {
    opacity: 0.5;
  }
  10%,
  50%,
  90% {
    opacity: 1;
  }
}
@keyframes star-anim2 {
  0%,
  20%,
  40%,
  60%,
  80% {
    opacity: 1;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 0.5;
  }
}

@keyframes star-anim3 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes stars {
  from {
    tansform: scale(0.8);
  }
  to {
    tansform: scale(1);
  }
}
@keyframes head {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(-25deg);
  }
}
@keyframes arm {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(8deg);
  }
}
